venv
__pycache__/
*.pyc
.env
.env.local
.DS_Store
.vscode/
README.md
app/client_secret_766658435727-ectu9krotjpnk482smhakvo41l75do0f.apps.googleusercontent.com.json
app/xecron-client-management-b4b191c2b6e7.json